<mat-spinner *ngIf="isPostLoading"></mat-spinner>
<mat-card class="custom-card" *ngIf="!isPostLoading">
  <mat-accordion multi="true" *ngIf="posts.length > 0" class="custom-accordion">
    <mat-expansion-panel *ngFor="let post of posts">
      <mat-expansion-panel-header>
        {{ post.title }}
      </mat-expansion-panel-header>
      <div class="post-container">
        <div class="post-image">
          <img [src]="post.imagePath" [alt]="post.title" />
        </div>
        <div class="post-content">
          <p>
            {{ post.content }}
          </p>
          <mat-action-row>
            <a mat-button [routerLink]="['/edit', post.id]" color="primary"
              >EDIT</a
            >
            <button mat-button color="accent" (click)="onDeletePost(post.id)">
              DELETE
            </button>
          </mat-action-row>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-paginator
    [length]="totalPosts"
    [pageSize]="postPerPage"
    [pageSizeOptions]="pageSizeOptions"
    (page)="onChangePage($event)"
    *ngIf="posts.length > 0"
  ></mat-paginator>
</mat-card>

<p *ngIf="posts.length <= 0 && !isPostLoading" class="nothing-to-see">
  Nothing to see!
</p>
