.custom-card {
  max-width: 800px;
  margin: 20px auto;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.styled-form-field {
  width: 100%;
  margin-bottom: 16px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.button-container button {
  margin: 0;
}

button.mat-raised-button {
  font-size: 0.875rem;
  padding: 8px 16px;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  border-color: #3f51b5;
}

.mat-form-field-appearance-outline .mat-form-field-outline-thick {
  border-width: 2px;
}

.mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: #3f51b5;
}

mat-spinner {
  margin: auto;
}

.button-container input[type="file"] {
  display: none; /* Hide the file input */
}
