<mat-card class="custom-card">
  <form (submit)="onAddPost(postFormValue)" #postFormValue="ngForm">
    <mat-card-content>
      <mat-form-field appearance="outline" class="styled-form-field">
        <mat-label>Enter Your Title</mat-label>
        <input
          matInput
          name="title"
          ngModel
          placeholder="Title"
          class="custom-input"
          required=""
          #titleControl="ngModel"
        />
        <mat-error *ngIf="titleControl.invalid">Enter post</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="styled-form-field">
        <mat-label>Enter Your Post</mat-label>
        <textarea
          matInput
          rows="6"
          name="content"
          ngModel
          #postInput
          placeholder="Post"
          required=""
          #textareaControl
        ></textarea>
        <mat-error *ngIf="textareaControl.invalid">Enter content</mat-error>
      </mat-form-field>

      <div class="button-container">
        <button mat-raised-button color="primary" type="submit">
          Save Post
        </button>
      </div>
    </mat-card-content>
  </form>
</mat-card>
