.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.custom-card {
  width: 400px;
  padding: 20px;
}

.styled-form-field {
  width: 100%;
}

.custom-input {
  width: 100%;
}

.button-container {
  text-align: center;
  margin-top: 20px;
}
