<mat-toolbar color="primary" class="custom-toolbar">
  <span class="toolbar-title">
    <a routerLink="/" class="toolbar-link">Messages</a>
  </span>
  <ul class="toolbar-menu">
    <li>
      <a
        mat-button
        routerLink="/create"
        routerLinkActive="mat-accent"
        class="toolbar-link"
        >New Post</a
      >
    </li>
    <li mat-button routerLink="/login" routerLinkActive="mat-accent">Login</li>
    <li mat-button routerLink="/signup" routerLinkActive="mat-accent">
      SignUp
    </li>
  </ul>
</mat-toolbar>
